

<div class="container-fluid">

    <div class="row">  
        
        <div class="col-sm-6">

        <div id="myCarousel" class="carousel slide" data-interval="false">

  <div class="carousel-inner" role="listbox">
      <div class="item active"  *ngFor="let item of product.images; let index = index" [class.active]="index == 0">
        <div >
        <img src="{{item.data}}" alt="" style="width:100%">
        </div>
      </div>
    </div>
	
	<div id="thumbCarousel"  *ngFor="let item of product.images;let index = index">
      <div data-target="#myCarousel" [attr.data-slide-to]="index" class="thumb active" >
        <img src="{{item.data}}" alt="XZ" style="width: 50px; height: 50px">
      </div>          
    </div>
  
         </div>

         <div class="prod-ct">
          <h3>RELATED PRODUCTS</h3>
        </div>
             
        <div class="prod-img">
          <div class="row">
          <div class="col-sm-5" *ngFor= "let item of actualInput.response.data.related_products">
            <img src="{{item.img}}" class="pict">
            <div class="pc-p">
            <h4>{{item.product_name}}</h4>
            <h6 class="f-zs">{{item.price}}</h6>
            <section>
              <label for="star-1">
                <svg width="255" height="240" viewBox="0 0 51 48">
                  <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
                </svg>
              </label>
              <label for="star-2">
                <svg width="255" height="240" viewBox="0 0 51 48">
                  <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
                </svg>
              </label>
              <label for="star-3">
                <svg width="255" height="240" viewBox="0 0 51 48">
                  <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
                </svg>
              </label>
              <label for="star-4">
                <svg width="255" height="240" viewBox="0 0 51 48">
                  <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
                </svg>
              </label>
              <label for="star-5">
                <svg width="255" height="240" viewBox="0 0 51 48">
                  <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
                </svg>
              </label>
            </section>  
          </div>
          </div>
        
        </div>
        </div>



        </div>
       
        <div class="col-sm-6">

          <div class="desc-amt">

           

            <div class="dolar">
            <h3> {{product.product_name}} <span>(2)</span></h3>  
            <span class=d-ll>{{product.price}}</span><br>
            <section>
                <label for="star-1">
                  <svg width="255" height="240" viewBox="0 0 51 48">
                    <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
                  </svg>
                </label>
                <label for="star-2">
                  <svg width="255" height="240" viewBox="0 0 51 48">
                    <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
                  </svg>
                </label>
                <label for="star-3">
                  <svg width="255" height="240" viewBox="0 0 51 48">
                    <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
                  </svg>
                </label>
                <label for="star-4">
                  <svg width="255" height="240" viewBox="0 0 51 48">
                    <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
                  </svg>
                </label>
                <label for="star-5">
                  <svg width="255" height="240" viewBox="0 0 51 48">
                    <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
                  </svg>
                </label>
              </section>  
           </div>
                
            
           
       
            <div  class="checkbox" >
                <div class="row">
                    <div class="col-sm-4 pd-i"> 
                     <input type="checkbox" class="i-p c-b" id="Unchecked">&nbsp;&nbsp;
                     <p>IN STOCK</p>                  
                    </div>
                </div>
              
            </div>
               
            
         
            <div class="quantity">
                <div class="row">
                    <div class="col-6 q-wb"> 
                       <h6 class="qty">Quantity</h6>&nbsp;&nbsp;                    
                        <button class="inc" (click)="decrement()">-</button>
                        <span>{{counter}}</span>
                        <button  class="dec" (click)="increment()">+</button>
                    </div>
                </div>        
            </div> 

            <div class="block-select clearfix">
              <form>
                <div class="select-color">
                  <span>Select Color</span>
                  <select class="color" >
<!--                    
                    <option *ngFor="let item of product.types">
                    
                      {{Colour.typ}}
                    
                   
                    </option> 
             -->
                  </select>
                </div>
                <div class="select-size">
                  <span>Size</span>
                  <select class="size">
                    <option>8</option>
                  
                  </select>
                </div> 
               </form> 
              </div>

            <br>
                        
            <div class="row buttons">
                <div class="col-12">
               <div class="row">
               <div class="col-6">
           <button class="btn  ac" >ADD TO CART</button> 
             </div>
             
             <div class="col-6">
           <button class="btn  btn-lg bn">BUY NOW</button>
            </div>

                </div> 
                </div>
              </div>
            
            </div>

            <!--review-->
         <div class="tabs">
          <div class="tabs-selection">
            <app-tab [active]="isSelected(1)" (click)="setTab(1)">DESCRIPTION</app-tab>
            <app-tab [active]="isSelected(2)" (click)="setTab(2)">SPECIFICATION</app-tab>
            <app-tab [active]="isSelected(3)" (click)="setTab(3)">REVIEWS</app-tab>
          </div>
      
          <div [ngSwitch]="tab">
            <app-tab-content *ngSwitchCase="1">
             
              <p class="d_p">
                <span class="h-ed"> Description</span>
                <br>
                <br>                
                {{product.description}}</p>
            </app-tab-content>
            <app-tab-content *ngSwitchCase="2">
              tab2
            </app-tab-content>
            <app-tab-content *ngSwitchCase="3">
              <span class="B-ed"> Specification</span>
              <br>
              <br>   
              <ul class="bt-point" *ngFor="let item of product.bulletPts">
                <li>{{item}}</li>
                </ul>
            </app-tab-content>
          </div>
          </div>
            <!---->

          </div>


       </div>  

    </div>



    

            
      
<router-outlet></router-outlet>